Lab-Exercises/Lab04/flow_colorpicker.json
[{"id":"2c7b9261.da613e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"de04fb66.6eb908","type":"mqtt in","z":"2c7b9261.da613e","name":"","topic":"testerino","qos":"2","datatype":"utf8","broker":"ebbe9f97.31012","x":160,"y":180,"wires":[["e640e578.93b578","3bae7230.d6754e"]]},{"id":"8ba36c2a.116b3","type":"mqtt out","z":"2c7b9261.da613e","name":"","topic":"switch","qos":"2","retain":"","broker":"ebbe9f97.31012","x":890,"y":180,"wires":[]},{"id":"e640e578.93b578","type":"function","z":"2c7b9261.da613e","name":"toggleswitch","func":"if (msg.payload > 25) {\n    msg.payload = \"on\";\n}\nelse {\n    msg.payload = \"off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["5f28d0c0.98c3c"]]},{"id":"6214e55e.79eb9c","type":"ui_button","z":"2c7b9261.da613e","name":"","group":"91f24600.c9ab18","order":3,"width":0,"height":0,"passthru":false,"label":"Turn on/off AC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":340,"y":100,"wires":[["1a74bfea.d857e"]]},{"id":"3bae7230.d6754e","type":"ui_chart","z":"2c7b9261.da613e","name":"","group":"91f24600.c9ab18","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":260,"wires":[[]]},{"id":"5f28d0c0.98c3c","type":"rbe","z":"2c7b9261.da613e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":180,"wires":[["8ba36c2a.116b3","d9b5fd25.18c2f"]]},{"id":"d9b5fd25.18c2f","type":"ui_switch","z":"2c7b9261.da613e","name":"","label":"AC","tooltip":"","group":"91f24600.c9ab18","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":900,"y":120,"wires":[[]]},{"id":"1a74bfea.d857e","type":"function","z":"2c7b9261.da613e","name":"toggleswitch","func":"var state = context.get(\"toggle_state\");\nif (msg.payload === \"on\") {\n  if(state === \"on\") {\n    state = \"off\";\n  } else {\n    state = \"on\";\n  }\n  context.set(\"toggle_state\", state);\n}\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["d9b5fd25.18c2f"]]},{"id":"ebbe9f97.31012","type":"mqtt-broker","z":"","name":"MqttRaspberryPi","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"91f24600.c9ab18","type":"ui_group","z":"","name":"Temperature","tab":"ba9577fe.e277c8","disp":true,"width":"6","collapse":false},{"id":"ba9577fe.e277c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]